TRAEFIK_ACME_EMAIL=don.cryptus@gmail.com
TRAEFIK_BASE_DNS=coding.global
TRAEFIK_DASHBOARD_HOST=traefik.=coding.global
TRAEFIK_USER_PASS=admin:fghhgjjhgjkjhklhc0
CLOUDFLARE_EMAIL=don.cryptus@gmail.com
CLOUDFLARE_DNS_API_TOKEN=Rdgfdfghjgkh
CLOUDFLARE_TUNNEL_TOKEN=your-tunnel-token-here
